body {
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

.review-container {
    width: 80%;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-card {
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
    flex: 0 0 calc(48% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.review-header {
    background-color: #F78D34;
    color: #fff;
    margin: 0;
    padding: 10px; 
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #FF5E0E;
    position: relative;
    box-shadow: inset 0 -5px 5px rgba(0,0,0,0.1); 
}

    .review-header::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        background-color: #4CAF50;
        z-index: -1;
    }

.review-content {
    margin-top: 10px;
    margin-inline: 20px;
    padding: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.1em;
    background-color: #fff; 
    border: 1px dashed #e0e0e0; 
    border-radius: 5px;
}

.rating-review {
    display: flex;
    font-size: 3.6em;
    margin-left: auto; 
    padding-inline:  20px; 
    background-color: #f9f9f9; 
    border-radius: 20px;
    margin-bottom: 60px;
}

    .rating-review span {
        opacity: 0.3;
        margin-right: 5px;
    }

    .rating-review[data-rating="2"] span:nth-child(-n+2),
    .rating-review[data-rating="1"] span:nth-child(-n+1),
    .rating-review[data-rating="3"] span:nth-child(-n+3),
    .rating-review[data-rating="4"] span:nth-child(-n+4),
    .rating-review[data-rating="5"] span:nth-child(-n+5),
    .rating-review[data-rating="6"] span:nth-child(-n+6),
    .rating-review[data-rating="7"] span:nth-child(-n+7),
    .rating-review[data-rating="8"] span:nth-child(-n+8),
    .rating-review[data-rating="9"] span:nth-child(-n+9),
    .rating-review[data-rating="10"] span {
        opacity: 1;
        color: gold;
    }

.no-reviews-message {
    text-align: center;
    background-color: #F78D34;
    color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    position: relative;
    max-width: 80%;
    margin: 20px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .no-reviews-message::before, .no-reviews-message::after {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #4CAF50;
        z-index: -1;
    }

    .no-reviews-message::before {
        left: -10px;
    }

    .no-reviews-message::after {
        right: -10px;
    }

    .no-reviews-message:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

.btn-container {
    position: absolute;
    display: flex;
    gap: 2em;
    bottom: 0;
    right: 50%;
    margin-top: 20px;
    transform: translateX(50%);
    margin-bottom: 20px;
}

#editButton, #removeButton {
    border: none; 
    color: white; 
    padding: 5px 20px; 
    text-align: center;
    width: 10vw;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s; 
}

    #editButton:hover, #removeButton:hover {
        transform: scale(1.05); 
    }

#editButton {
    background-color: #4CAF50;
}

    #editButton:hover {
        background-color: #45a049;
    }

#removeButton {
    background-color: #f44336; 
}

    #removeButton:hover {
        background-color: #d32f2f; 
    }
