.filtering-reviews-section {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    margin: 20px auto;
}

.filtering-subsection p {
    margin-right: 20px;
    display: inline-block;
    font-weight: 600;
    color: #333;
}

.filtering-subsection select {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 16px;
    cursor: pointer;
}

    .filtering-subsection select:focus {
        outline: none;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    }

.pagination-container {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}

    .pagination-container button {
        background-color: #F78D34;
        color: white;
        border: 1px solid #D3691E ;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 25px;
        cursor: pointer;
        padding: 0.3em 2em;
    }

        .pagination-container button:hover {
            background-color: #D3691E;
        }

    .pagination-container .page-number {
        height: auto;
        border: 1px solid #D3691E;
        color: black;
        background-color: white;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 3px;
        cursor: pointer;
    }

        .pagination-container .page-number:hover {
            background-color: #F78D34;
        }

.page-number.selected {
    background-color: #F78D34;
}
