@using CinemaCritique.Extensions;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CritiqueUser> SignInManager
@inject UserManager<CritiqueUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = this.User.GetId();
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="MyWatchlist" asp-controller="Watchlist">Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="MyProfile" asp-controller="Account">My Profile</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
