

.critique-stats-container {
    background-color: #F78D34;
    border: 2px solid #FF5E0E;
    box-shadow: inset 0 0px 5000px rgba(0,0,0,0.3);
    border-radius: 2em;
    width: 30%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0.3em;
    flex: 1;
}

.critique-stats {
    flex: 7;
    border-radius: 1em;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
}

    .critique-stats p {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        flex-wrap: wrap;
    }

    .critique-stats span {
        margin-left: auto;
        color: #FF8C00; 
        font-weight: bold;
        background-color: #FFE4E1;
        padding: 0.2em 0.5em; 
        border-radius: 0.3em; 
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
        transition: all 0.3s ease; 
    }

.buttons-container {
    border-radius: 1em;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex: 3;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 1em;
}

    .buttons-container button {
        padding: 2em;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: #FF8C00;
        border: 2px solid #FFDAB9;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); 
        outline: none;
    }

        .buttons-container button:hover {
            transform: scale(1.1); 
            background-color: #FF8C00; 
        }

        .buttons-container button.info-button:hover {
            background-color: #4682B4; 
        }

        .buttons-container button.report-button:hover {
            background-color: #CD5C5C; 
        }

        .buttons-container button i {
            color: white;
            font-size: 1.5em;
        }
