

.watchlist-container {
    background-color: #F78D34;
    border: 2px solid #FF5E0E;
    box-shadow: inset 0 0px 5000px rgba(0,0,0,0.4);
    border-radius: 2em;
    flex: 1;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.watchlist-logo-container {
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #CC2B1D;
    width: 50%;
    height: 50%;
    border: 2px solid #FFDAB9;
    border-radius: 2em;
    padding: 0.8em;
    margin-block: 1em 0.5em;
    transition: all 0.3s ease-in;
    box-shadow: inset 0 0 75px black; 
}

    .watchlist-logo-container img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .watchlist-logo-container:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
