@using Microsoft.AspNetCore.Identity;
@model ICollection<WatchlistItemViewModel>;
@inject UserManager<CritiqueUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<link rel="stylesheet" href="~/css/watchlist/myWatchlist.css" asp-append-version="true" />


<div class="title-container">
    <h1>@user's <span class="watchlist-phrase">Watchlist</span></h1>
</div>
<div class="main-container">

    @if (!Model.Any())
    {
        <p>Your watchlist is currently empty. <br> Access the All Movies page in order to browse through films and let us know which one you would like to watch.</p>
    }
    else
    {
        <div class="items-container">
            <ul class="watchlist-movies-list">
                @foreach (var movie in Model)
                {
                    <li class="watchlist-movie-item">
                        <a asp-action="SelectedMovie" asp-controller="Movie" asp-route-id="@movie.MovieId">
                            <div class="image-box">
                                <img src="@movie.MovieCoverURL"  class="watchlist-movie-cover" />
                            </div>
                            <div class="watchlist-movie-details">
                                <h3>@movie.MovieTitle</h3>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>