
   
<link rel="stylesheet" href="~/css/account/myProfile.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/account/user-info.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/account/user-stats.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/account/watchlist-container.css" asp-append-version="true" />


    <div class="upper-line">
        <div class="critique-stats-container">
            <div class="critique-stats">
                <p>Your Favourite Genre:  <span>Comedy</span></p>
                <p>Critique points: <span>3169</span></p>
                <p>Watchlist Items: <span>4</span></p>
                <p>Numbers of Reviews: <span>7</span></p>
                <p>Average star rating: <span>6.9/10</span></p>
            </div>
            <div class="buttons-container">
                <button class="info-button"><i class="fa-solid fa-circle-info"></i></button>
                <button class="report-button"><i class="fa-solid fa-bug"></i></button>
            </div>
        </div>
        <div class="user-info">
            <div class="image-container">
                <img src="https://play-lh.googleusercontent.com/byNtIb6-JTw9J6SX_Sm2kzsqz8glHcmKaAWu9CTW7iM6fsz5Ufc-zX-0L0eDXa17207Q" alt="John Smith's Profile Picture">
            </div>
            <div class="user-credentials">
                <p><span>Full Name:</span> John Smith</p>
                <p><span>Username:</span> jsmith123</p>
                <p><span>Joined Date:</span> 17.10.2023</p>
            </div>
        </div>
        <div class="watchlist-container">
            <h2>Your Watchlist</h2>
            <div class="watchlist-logo-container">
                <img src="~/img/watchlist_logo.png" alt="">
            </div>
        </div>
    </div>

