

<link rel="stylesheet" href="~/css/account/myProfile.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/account/user-info.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/account/user-stats.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/account/watchlist-container.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="upper-line">
    <div class="critique-stats-container">
        <div class="critique-stats">
            <p>Your Favourite Genre:  <span>Comedy</span></p>
            <p>Critique points: <span>3169</span></p>
            <p>Watchlist Items: <span>4</span></p>
            <p>Numbers of Reviews: <span>7</span></p>
            <p>Average star rating: <span>6.9/10</span></p>
        </div>
        <div class="buttons-container">
            <button class="info-button"><i class="fa-solid fa-circle-info"></i></button>
            <button class="report-button"><i class="fa-solid fa-bug"></i></button>
        </div>
    </div>
    <div class="user-info">
        <div class="image-container">
            <img src="https://play-lh.googleusercontent.com/byNtIb6-JTw9J6SX_Sm2kzsqz8glHcmKaAWu9CTW7iM6fsz5Ufc-zX-0L0eDXa17207Q" alt="John Smith's Profile Picture">
        </div>
        <div class="user-credentials">
            <p>Full Name: <span>John Smith </span></p>
            <p>Username: <span>jsmith123</span></p>
            <p>Joined Date: <span>17.10.2023</span></p>
        </div>
    </div>
    <div class="watchlist-container">
        <h2>Your Watchlist</h2>
        <div class="watchlist-logo-container">
            <a asp-controller="Watchlist" asp-action="MyWatchlist" class="watchlist-logo-link">
                <img src="~/img/watchlist_logo.png" alt="">
            </a>
        </div>

    </div>
</div>
<form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <button id="logoutButton" type="button" class="nav-link" style="border: none; text-align: left">Logout</button>
</form>

<div class="modal" id="logoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logout Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to logout?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirmLogout" type="button" class="btn btn-primary">Logout</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/js/profile/profileLogout.js"></script>
