@model ICollection<MovieReviewViewModel>;


<link rel="stylesheet" href="~/css/review/review.css" asp-append-version="true" />

<div class="review-container">
    @foreach (var review in Model) 
    {
        <div class="review-card">
            <div class="review-header">
                <h3>@review.Username</h3>
                <span>@review.DatePublished</span>
            </div>
            <div class="review-content">
                <p>@review.Content</p>
            </div>
            <div class="review-footer">
                <div class="rating-review" data-rating="@review.Rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>
        </div>
    }
</div>