body {
}

.movie-detail-container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.movie-header {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .overlay h1,
    .overlay h3 {
        color: #fff;
    }

.movie-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cover-photo {
    max-width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.movie-info {
    max-width: 55%;
}

    .movie-info h2,
    .movie-info h4,
    .movie-info p {
        margin-bottom: 20px;
    }

.trailer {
    margin-top: 50px;
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

    .trailer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

.review-section {
    position: relative;
    overflow: hidden;
    margin-top: 2em;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 9.56em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50em;
}

    .review-section h3 {
        background-color: #F78D34;
        color: #fff;
        margin: 0;
        padding: 20px;
        width: 100%;
        text-align: left;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 3px solid #FF5E0E;
    }

        .review-section h3::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
            background-color: #4CAF50;
            z-index: -1;
        }

.rating, textarea, #submit-review {
    width: 90%; /* Reduced width */
    margin-bottom: 1em; /* Added margin for better spacing */
}

.star {
    cursor: pointer;
    color: grey;
    padding: 5px;
    font-size: 4.3em; /* Reduced font size */
}

    .star.hover {
        color: yellow;
    }

    .star.selected {
        color: orange;
    }

textarea {
    padding: 1em;
    min-height: 150px;
}

#submit-review {
    margin-top: 1em;
    width: 30% !important;
    background: linear-gradient(to right, #FF5E0E, #F78D34);
    color: white;
    border: none;
    margin-left: 30em;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    font-weight: bold;
}

    #submit-review:hover {
        background: linear-gradient(to left, #FF5E0E, #F78D34);
        box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }

    #submit-review:active {
        transform: translateY(1px);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
#char-counter {
    font-size: 0.8em;
    color: grey;
    text-align: left;
    padding: 0 10px;
}

#message-box {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

    #message-box.success {
        background-color: #4CAF50; /* Green */
        color: white;
    }

    #message-box.error {
        background-color: #f44336; /* Red */
        color: white;
    }
