body {
}

.movie-detail-container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.movie-header {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .overlay h1,
    .overlay h3 {
        color: #fff;
    }

.movie-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cover-photo {
    max-width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.movie-info {
    max-width: 55%;
}

    .movie-info h2,
    .movie-info h4,
    .movie-info p {
        margin-bottom: 20px;
    }

.trailer {
    margin-top: 50px;
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

    .trailer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
