body {
}

#recentMoviesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1200px;
}

.movie-link, .movie-item a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

    .movie-link:hover, .movie-item a:hover {
        text-decoration: none;
        transform: scale(1.05);
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
        filter: brightness(110%);
    }

.carousel-item {
    position: relative;
}

.movie-link:hover .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 2;
}

.movie-link:hover .title {
    z-index: 3;
}

.carousel {
    position: relative;
    flex: 1;
    margin-right: 20px;
}

.control-btn {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .control-btn:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }

.scene-photo {
    position: relative;
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
}

.cover-photo {
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.title {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    border-radius: 5px;
}

#prevBtn, #nextBtn {
    z-index: 10;
    transition: all 0.3s;
}

#prevBtn {
    left: -10px; /* adjust as per requirement */
}

#nextBtn {
    right: -10px; /* adjust as per requirement */
}

.control-btn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

    .control-btn:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }


.movie-list {
    width: 30%;
    max-width: 300px;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.movie-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .movie-item:hover {
        background-color: #eee;
    }
