<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="~/css/movie/allMovies.css" asp-append-version="true" />
<div class="searching-movies-section">
    <p>Search for a Movie:</p>
    <input type="text" id="movieSearchInput" placeholder="Search by movie title, director or actor...">
    <button id="searchButton">
        <i class="fa fa-search"></i> 
    </button>
</div>
<div class="filtering-movies-section">
    <div class="filtering-subsection">
        <p>Genre:</p>
        <select id="genreDropdown" class="filter-dropdown">
            <option value="">Any</option>
            <option value="Drama">Drama</option>
            <option value="Comedy">Comedy</option>
            <option value="Action">Action</option>
            <option value="Romance">Romance</option>
            <option value="Horror">Horror</option>
            <option value="Science Fiction">Science Fiction</option>
            <option value="Documentary">Documentary</option>
            <option value="Musical">Musical</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Adventure">Adventure</option>
        </select>
    </div>
    <div class="filtering-subsection">
        <p>Rating:</p>
        <select id="ratingDropdown" class="filter-dropdown">
            <option value="">All</option>
            <option value="unrated">Unrated</option>
            <option value="desc">Highest to Lowest</option>
            <option value="asc">Lowest to Highest</option>
        </select>
    </div>
    <div class="filtering-subsection">
        <p>Date Added:</p>
        <select id="dateDropdown" class="filter-dropdown">
            <option value="new">Newest To Oldest</option>
            <option value="old">Oldest To Newest</option>

        </select>
    </div>
</div>
<div id="moviesContainer">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/js/movies/allMovies.js"></script>