

<link rel="stylesheet" href="~/css/movie/allMovies.css" asp-append-version="true" />

<div id="moviesContainer">

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/js/movies/allMovies.js"></script>