body {
}

.main-container{
    padding: 0 2em;
}

.title-container {
    background-color: #F0F0F0;
    padding: 2em 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block: 2em 4em;
    border-block: 1px groove #ABABAB;
}

.items-container {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

.title-container h1 {
    color: black;
}

.watchlist-movies-list {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    width: 90vw;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10em;
    flex-wrap: wrap;
    gap: 1em;
}

.watchlist-movie-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%; 
    transition: all 0.2s ease-in;
    height: 20em;
}

.image-box{
    background-color: green;
    justify-content: center;
    height: 70%;
}

.watchlist-movie-cover {
    display: block;
    width: 70%;
    height: auto;
}


.watchlist-movie-details h3 {
    margin: 0;
    padding: 0;
}

.watchlist-movie-item a {
    text-decoration: none; 
    color: inherit; 
    display: flex;
    align-items: center; 
    width: 100%; 
}

.watchlist-movie-item:hover {
    background-color: lightgray;
    cursor: pointer;
    transform: scale(1.05);
}