body {
}

.main-container{
    padding: 0 2em;
}

.title-container {
    background: url(https://img.freepik.com/premium-photo/part-yellow-black-clapper-board-movie-slate-popcorn-black-background_335640-4086.jpg?w=1380);
    background-color: #E3E3E3;
    background-size: cover;
    background-position: center;
    padding: 5em 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-block: 2em 4em;
    border-block: 1px groove #ABABAB;
    position: relative;
}

p {
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    color: black;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

    p:first-child {
    }

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    border-radius: 5px; 
}

.title-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 100px 50px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.items-container {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

.title-container h1 {
    color: white;
    font-size: 95px;
}

.watchlist-phrase {
    color: orange;
    text-shadow: -1px 3px 0 #000, -5px 2px 0 #000, -1px -3px 0 #000, 1px -2px 0 #000;
}

.items-container {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

.watchlist-movies-list {
    display: flex;
    flex-direction: row;
    width: 90vw;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10em;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.watchlist-movie-item {
    background-color: black;
    display: flex;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    width: 30%;
    transition: all 0.2s ease-in;
    height: 15em;
    box-shadow: inset 0 0 15px grey;
    border: 3px solid #4D4D4D;
}

.image-box {
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    width: 2em;
    border-bottom-left-radius: 1.36em;
    border-top-left-radius: 1.36em;
    padding: 1em;
    background-color: #CC2B1D;
    box-shadow: inset 0 0 75px black;
}

.watchlist-movie-cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.watchlist-movie-details {
    width: 13em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 18px;
    height: 100%;
    border-left: 1px solid #F9F6EE;
    padding-left: 0.5em;
}

.watchlist-movie-details h3{
    font-size: 18px;
}

.watchlist-movie-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
}

.watchlist-movie-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: 5px solid orange;
}